/* Shared
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button {
  border-radius: 100px;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
  font-weight: bold;
}

/* Hero
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}

.hero {
  background-image: url('../images/back-hero-2.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.hero .intro {
  background-color: #222;
  opacity: 0.8;
  padding: 5px 20px 2px;
  margin-bottom: 2rem;
}
.hero-heading {
  margin: 0 !important;
}
.hero .intro .sub-title {
  /* width: 93%; */
  text-align: justify;
}

/* Values
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.values {
  background-image: url('../images/back-hero.jpg');
  background-size: cover;
  color: #fff;
  padding-bottom: 5rem;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}
.values .intro {
  background-color: #222;
  opacity: 0.8;
  padding: 5px 20px 2px;
  margin-bottom: 2rem;
}

/* Help
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.get-help {
  border-bottom: 1px solid #ddd;
}

/* Categories
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.categories {
  background-image: url('../images/values-bg-2.jpg');
  background-size: cover;
  color: #fff;
}
.categories .section-description { 
  margin-bottom: 4rem;
}
.categories .container {
  background-color: #737373c9;
  padding: 35px;
}

.proj-carousel iframe, .proj-carousel video {
  width: 100%;
  height: 25rem;
}

@media (min-width: 320px) {
  .proj-carousel iframe, .proj-carousel video {
    height: 15.7rem;
    margin: 45px auto;
  }
}

/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .proj-carousel iframe, .proj-carousel video {
    height: 16.6rem;
    margin: 45px auto;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.12rem;
    width: 35rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .hero .intro {
    width: 55rem;
  }
  .section-description {
    /* max-width: 60%; */
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -7rem;
    right: -2rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .hero .intro .sub-title {
    width: 66%;
  }
  .proj-carousel iframe, .proj-carousel video {
    height: 14.7rem;
    margin: 45px auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3rem;
    width: 52rem;
  }
  .phone {
    top: -11rem;
    max-height: 615px;
    right: -4rem;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  .hero .intro {
    width: 62rem;
  }
  .hero .intro .sub-title {
    width: 82%;
  }
  .proj-carousel iframe, .proj-carousel video {
    height: 20rem;
    margin: 45px auto;
  }
}

/* Bigger than 1300 */
@media (min-width: 1300px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.5rem;
    width: 65rem;
  }
  .phone {
    top: -14rem;
    max-height: 615px;
    right: -4rem;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  .hero .intro {
    width: 65rem;
  }
  .hero .intro .sub-title {
    width: 90%;
  }
  .proj-carousel iframe, .proj-carousel video {
    height: 24rem;
    margin: 45px auto;
  }
}

.hide {
  display: none !important;
}

/* .arrow-left {
  position: absolute;
  width: 2em;
  left: 0;
  height: 100%;
  color: #fff;
  z-index: 1;
}
.arrow-left .fa{
  margin: 13rem 0;
}

.arrow-right {
  position: absolute;
  width: 2em;
  right: 0;
  height: 100%;
  color: #fff;
  z-index: 1;
}
.arrow-right .fa {
  margin: 13rem 0;
}
.proj-carousel {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  width: 45rem;
} */
/* .proj-carousel img, .proj-carousel iframe, .proj-carousel video {
  position: relative;
} */
